<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.cypos.simpletest"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.6.3" />

        <name>simpletest Config.xml</name>

        <description>
        simple test for phonegap. 
        </description>

        <author href="http://cypos.com" email="rsdebold@yahoo.com">
        randall debold
        </author>

    </widget>